* {
	box-sizing: border-box;
}

body {
	font-family: $secondary-font;
	font-size: 1.5rem;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px $spacer-2; 

}

img {
	max-width: 300px;
	height: auto;
}
