@keyframes vicki {
    0% {
    	border-color: #00bbff;
    }
    25% {
    	border-color: #00a1ff;
    }
    50% {
    	border-color: #0021ff;
    }
    75% {
    	border-color: #007bff;
    }
    100% {
    	border-color: #00bbff;
    }
}
.zone {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

h2 {
    grid-area: 1 / 1 / 1 /  4;
    font-size: 60px;
    color: $colour-Pri;
    padding-bottom: 4%;
    margin-top: -6%;

}

img {
    
	border-radius: 50%;
    height:260px;
    width: 260px;
	border: 2px solid purple;
	animation: vicki infinite 5s;
}

figure {
    text-align: center;
}

figcaption {
	font-family: $font-amatic;
	font-size: 40px;
	color: $colour-Pri;
    padding-top: 20px;
    padding-bottom: 20px;
	

}

p {
	font-family: $font-nanum;
	color: $colour-Pri;
}

.section-dark {
	background-color: $colour-dark;
}

.section-twilight {
	background-color: $blue-mid;
}

.section-sunlit {
	background-color: $blue-light;
}

body {
    background: linear-gradient(#e6f9ff, #99e6ff, #1ac6ff);
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}
