@keyframes vicki {
    0% {
    	border-color: #00bbff;
    }
    25% {
    	border-color: #00a1ff;
    }
    50% {
    	border-color: #0021ff;
    }
    75% {
    	border-color: #007bff;
    }
    100% {
    	border-color: #00bbff;
    }
}
.zone {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 50px;
    
}

img {
    
	border-radius: 50%;
    height:260px;
    width: 260px;
	border: 2px solid purple;
	animation: vicki infinite 5s;
}

figure {
    text-align: center;
}

figcaption {
	font-family: $font-amatic;
	font-size: 20px;
	color: white;
	

}

p {
	font-family: $font-nanum;
	color: white;
}

.section-dark {
	background-color: $colour-dark;
}

.section-twilight {
	background-color: $blue-mid;
}

.section-sunlit {
	background-color: $blue-light;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
