

// @import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

// $font-stack:    Nanum Pen Script, sans-serif;
// $primary-color: #000;

// // @font-face {
// // 	font-family: 'Nanum Pen Script';
// // 	font-weight: normal;
// // 	src: url() format("truetype"); }

@font-face {
  font-family: 'Nanum Pen Script', cursive;
  font-weight: normal;
  src: url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script") format("truetype"); }

